
   .animal{

    padding: 10px;
    height:200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 25px;
  }
    .nombre{
      text-align: center;
      color: rgba(0, 0, 0, 0.0);

    }
    .nombre_visible{
      color: white;
    }

    .texto{
    height:50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }

  .over{
    border: solid black 3px;
  }
* {
  box-sizing: border-box;
}

.gamecontainer{
  height: 650px;
  background-image: url("images/bk.jpg");
  background-size: 100% 100%;
  border-radius: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.center {
  float: left;
  margin-left: 7.333%;
}

body{ 

background-color: green;

 }

 .hidden{
  display:  none;
 }

 #title,#jugarbtn,#creditosbtn,#nombrelab,#con,#volverbtn{
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  color: black;

 }

#pun,#tie,#logo{
  text-align: center;
  text-decoration: none;
  color: white;

 }

 #nombrelab{
  font-size: 2em;
 }

 #creditcontainer{
  height: auto;
 }

 #siglvl{
  text-align: center;
  color: #555555;
  font-size: 3em;
 }
